// generic CSS

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: $neutral;
  letter-spacing: 0.05em;
  color: $neutral-900;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $neutral-900;
}

a:hover {
  color: $primary-400;
}

// header, footer navbar CSS
.nav {
  padding: 16px 0;
  &-logo-link {
    display: block;
    background: url("../images/logo.svg") no-repeat;
    width: 129px;
    height: 46px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 48px;
  }
  &-item-link {
    display: block;
    width: 69px;
    margin-right: 40px;
  }
  .icon {
    &-link {
      display: block;
      font-size: 28px;
    }
  }
}

// footer CSS

.discount {
  background: $primary-200;
  padding: 33.5px 0;
  .text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $neutral-900;
    margin-right: 24px;
  }
  .btn {
    background: $neutral-900;
    color: $neutral;
    padding: 12px 24px;
    font-weight: 500;
    border-radius: 8px;
    &:active {
      background: $neutral-100;
      color: $neutral-900;
    }
  }
}
.footer-content {
  padding: 64px 0;
  .copyright {
    margin-top: 8px;
    padding-top: 32px;
    border-top: 1px solid $neutral-300;
    .text {
      text-align: center;
      font-size: 14px;
      color: $neutral-600;
    }
  }
}
