.d-flex {
    display: flex;
}

.flex-jcsb {
    justify-content: space-between;
}

.flex-jcc {
    justify-content: center;
}

.flex-aic {
    align-items: center;
}

.m-l-auto {
    margin-left: auto;
}

.btn {
    background: $neutral-900;
    color: $neutral;
    padding: 12px 24px;
    font-weight: 500;
    border-radius: 8px;
}

.btn:active {
    background: $neutral-100;
    color: $neutral-900;
}