// font-size

$f-s-larger: 40px;
$f-s-large: 24px;
$f-s-medium: 20px;
$f-s-small: 14px;

// font-weight

$f-w-bold: 700;

// font-color

$c-primary: #57a203;
$c-secondary: #ffffff;
$c-normal: #212529;
$c-neutral: #6c757d;
$c-neutral-lighten: #dee2e6;

// background-color

$b-primary: #f5fee7;
$b-secondary: #f8f9fa;
